* {

  box-sizing: border-box; 
}

/*Page 1 */

body.map{
	background-color:#FFF0E0;
}

h1{
	font-family: 'Cedarville Cursive', cursive;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	color: #000066;

}

header img{
	border-radius: 100%;
	margin: 30px 150px;
	padding: 0 200px 0 200px;
}

.button{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 18px;
  border-radius: 10px;
  float: right;
  margin: 0 10px 0 10px;
  color:#000066;
  background-color:#FFF0E0 ;
}

a{
	text-decoration: none;
}

/*7 Wonders*/

body.seven{
	background-image:url("https://scied.ucar.edu/sites/default/files/images/large_image_for_image_content/altostratus3_big.jpg");
	background-size: cover;
	background-repeat: no-repeat;	
}


body.seven .container { /* targets elements with class of container, that are descendants of a <body class="blog"> element */
  display: grid;
  grid-row-gap: 40px;
  min-height: 100px;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
  /*grid-template-areas:  "a a a "
                        "b b c"
                        "d e f"
                        "g g g"*/
  }   


body.seven header h1{
	padding-left: 50px;

}

div{
	text-align: center;
	align-items: center;
}

 h3{
 	font-family:'Cedarville Cursive', cursive;
	font-weight: 600;
	font-size: 20px;
	text-align: center;
	color: #000066;
 }                   

p {
	text-align: center;
	padding: 20px 20px 10px 20px;
	margin: 0 100px 0 100px;
	font-family: 'Raleway', sans-serif;
	

}
p:first-of-type{display: none;}

.read-more{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 18px;
  
}

.read-less{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 18px;
  display: none;
  
}

body.seven .container div.a{
	/*grid-area: a;*/
	grid-row:1/2;
	grid-column:2/3;
	justify-content: space-around;


}

#pyramid{
	border-radius: 75px;
	height: 300px;
	width: 350px;

}

body.seven .container div.b{
	/*grid-area: b;*/
	grid-row: 2/3;
	grid-column:1/2;
}

#wall{
	border-radius: 75px;
}
body.seven .container div.c{
	/*grid-area: c;*/
	grid-row: 2/3;
	grid-column: 2/3;
}

#petra{
	border-radius: 75px;
	height: 300px;
	width: 350px;
}

body.seven .container div.d{
	/*grid-area: d;*/
	grid-row: 2/3;
	grid-column:3/4;
}

#rio{
	border-radius: 75px;
	height: 300px;
	width: 350px;
}

body.seven .container div.e{
	/*grid-area: e;*/
	grid-row: 3/4;
	grid-column: 1/2
}

#peru{
	border-radius: 75px;
	width: 100%;
}
body.seven .container div.f{
	/*grid-area: f;*/
	grid-row: 3/4;
	grid-column: 2/3;
}

#itza{
	border-radius: 75px;

}
body.seven .container div.g{
	/*grid-area: g;*/
	grid-row: 3/4;
	grid-column: 3/4;
}

#rome{
	border-radius:75px;
	height: 350px;
	width: 400px;
}

footer{
	padding-top: 30px;
}

body.seven footer nav ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none; 
	
}

li{
	font-family:'Raleway', sans-serif;
	font-size: 18px;

}
 a:visited { text-decoration: none; color:#000066; }


